@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@300;500;700;900&display=swap');
* {
    margin: 0;
    padding: 0;
}
body {
    background-image: url(/images/pattern-background-desktop.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: #e0e8ff;
    font-family: 'Red Hat Display', sans-serif;
    justify-content: center;
    display: inline;
}

.main {  
    background-color: #ffffff;
    width: 380px;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    height: 50vh;
    min-height: 90vh;
    position: relative;
    
   
}

.hero-image img{
    size: 100%;
    width: 380px;
    position: relative;
    justify-content: center;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
} 
.plan-box {
    text-align: center;
}
    
.plan {
    display: inline-flex;
    background-color:  #f8f9fe;
    border-radius: 8px;
    padding: 18px;
    width: 100;
    text-align: center;
   /* margin-left: 30px; 
    margin-right: 30px; */
    margin-top: 20px;
    
}

h1 {
    font-weight: 900;
    text-align: center;
    margin-top: 30px;
    font-size: 25px;
    color: #1b2e4f;
}



p, .cancel-order{
    font-size: 16px;
    font-weight: 500;
    color: #797e9b;
    align-items: center;
    text-align: center;
    word-wrap: break-word;
    padding-left: 30px;
    padding-right: 30px;
}

.payment-button {
    text-align: center;
    margin-top: 15px;
}

.payment-button button {
    border: none;
    background-color: #766cf1;  
    padding: 15px;
    width:300px;
    color: white;
    font-weight: 70;
    border-radius: 10px;
}

.annual{
    text-align: center;
}
.change-button {
    margin: auto;
    align-items: center;
    text-align: center;
}

.cancel-order{
    padding: 1px;
    font-weight: 700;
    margin-top: 20px;
}

.cancel-order span:hover {
    color: #222e44;
    cursor: pointer;
}

.annual {
    color: #1b2e4f;
    font-weight: 700;
}


footer{
    bottom: 0;
    width: 100%; 
    margin-top: 80px;
     
}

.attribution { 

    font-size: 11px; 
    text-align: center; 
    margin-top: 10px;

}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}